* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e1e0e3;
    box-sizing: border-box;
  }

header {
    background-color: white;
    padding: 15px 0px;
    margin-bottom: 40px;
    text-align: center;
   }

   header h1{
    width: 600px;
    margin :0 ;
    border: 1px ;
    margin-left: 450px;
    
}
    
article {
    width: 600px;
    margin: auto;
    border: 1px;
    background-color: white;
   align-items: center;
   margin-top: 50px;
}

   
   
img {
    width: 600px;
    height: 400px;
    border: 1px black;
}
.article-header {

    border: solid 1px black ;

    display: flex;
    justify-content: space-between;
    padding: 0% 15px;
    align-items: center;
}

.article-header-title {
    font-size: 1,2rem;
    font-weight: bold;
}
.article-header-date{
    font-size: 1rem;
    color: #e1e0e3;
    margin: 0;
    padding: 15px;
}
.article-footer{
    margin: 0;
    padding: 0% 15px;
}
.article-footer_p{
    margin: 0;
    padding: 0;
    color: black;

}
a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}